@model Models.EF.User
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("editus","Home",FormMethod.Post))
        {
            //@Html.AntiForgeryToken();
            <div class="form-horizontal">
                <h3>Edit User</h3>
                @Html.ValidationSummary(false, "", new { @Class = "Text-dager" })
                <div class="form-group">
                    @Html.LabelFor(m=> m.UserName)
                    <div class="col-md-10">
                        @Html.TextBoxFor(m=> m.UserName)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Password)
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Password)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Name)
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Name)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Address)
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Address)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Email)
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Phone)
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Phone)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Status)
                    <div class="col-md-10">
                        @Html.CheckBoxFor(m => m.Status)
                    </div>
                </div>

                <div>
                    <input type="submit" value="Edit" />
                </div>
            </div>  
        }
    </div>
    <div>
        @Html.ActionLink("Back to Index", "index")
    </div>
</body>
</html>
